.card {
  width: 18rem;
  display: inline-block;
}
.caard {
  position: relative;
  /* margin-left: 20px; */
}
.container {
  border: 1px solid black;
}
.balck {
  background-color: black;
  width: 25px;
  height: 20px;
}
