.main {
  background-image: url("../../assest/five.PNG");
  width: 100%;
  height: 700px;
  border-style: dotted;
}
.d {
  color: white;
  font: 900;
}
.login {
  width: 50%;
  border-color: gainsboro;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  position: relative;
  border-style: solid;
  left: 22.5%;
  margin-top: 10%;
}
.sign {
  color: blue;
  letter-spacing: 2.5px;
}
.sign:hover {
  cursor: pointer;
  letter-spacing: 5px;
}
